<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LancamentosWindowsForms.Properties.Settings.strConexaoBancoDadosLancamento"
            connectionString="Data Source=cctradicao.dyndns.org;Initial Catalog=Lancamentos;User ID=sa;Password=hiper"
            providerName="System.Data.SqlClient" />
        <add name="LancamentosWindowsForms.Properties.Settings.strConexaoBancoDadosHiper"
            connectionString="Data Source=cctradicao.dyndns.org;Initial Catalog=Hiper;User ID=sa;Password=hiper" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>